.leaderboard {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.leaderboard th,
.leaderboard td {
  padding: 14px;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

.leaderboard th {
  background: #020617;
  color: #e5e7eb;
}

.leaderboard tr:nth-child(1) {
  background: #fef9c3;
}

.leaderboard tr:nth-child(2) {
  background: #e5e7eb;
}

.leaderboard tr:nth-child(3) {
  background: #fde68a;
}

.xp {
  font-weight: 800;
  color: #7c3aed;
}
