<div class="auth-wrapper">
  <div class="auth-box">

    <h4>Reset Password 🔐</h4>

    <form *ngIf="!success" [formGroup]="form" (ngSubmit)="submit()">

      <input
        type="password"
        placeholder="New password"
        formControlName="password"
      />

      <button type="submit" [disabled]="loading">
        {{ loading ? 'Resetting...' : 'Reset Password' }}
      </button>

      <p class="error" *ngIf="error">{{ error }}</p>
    </form>

    <div *ngIf="success">
      <h3 class="text-success">Password Updated ✅</h3>
      <p>Redirecting to login...</p>
    </div>

  </div>
</div>
