<div class="auth-wrapper">
  <div class="auth-box shadow">

    <h4 class="fw-bold mb-3">Forgot Password 🔐</h4>

    <!-- SUCCESS -->
    <div *ngIf="success" class="text-success">
      ✅ Reset link sent to your email.
    </div>

    <!-- FORM -->
    <form *ngIf="!success"
          [formGroup]="forgotForm"
          (ngSubmit)="submit()">

      <div class="form-group mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="Enter your email"
          formControlName="email">
      </div>

      <div class="text-danger small"
           *ngIf="email?.touched && email?.invalid">
        Valid email required
      </div>

      <button class="btn btn-primary w-100"
              [disabled]="loading || forgotForm.invalid">
        {{ loading ? 'Sending...' : 'Send Reset Link' }}
      </button>

      <p class="text-danger mt-2" *ngIf="error">
        {{ error }}
      </p>

    </form>

  </div>
</div>
